---
import Layout from '../../layouts/Layout.astro';
import TablaPosiciones from '../../components/TablaPosiciones.astro';
import equipos from '../../data/tabela-serie-a.json';
---
<Layout title="Tabela do Brasileirão Série A">
    <main class="container mx-auto p-4 max-w-4xl">
        <TablaPosiciones title="Brasileirão Série A" equipos={equipos} />
    </main>
</Layout>