---
import Layout from '../../layouts/Layout.astro';
import TablaPosiciones from '../../components/TablaPosiciones.astro';
import equipos from '../../content/standings/serie-b.json';
---
<Layout title="Tabela do Brasileirão Série B">
    <main class="container mx-auto p-4 max-w-4xl">
        <TablaPosiciones title="Brasileirão Série B" equipos={equipos} leagueType="serie_b" />
    </main>
</Layout>