---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Página Não Encontrada">
  <main class="container mx-auto px-4 text-center flex flex-col justify-center items-center h-[60vh]">
    <h1 class="text-8xl font-black text-emerald-400">404</h1>
    <p class="text-2xl font-bold text-gray-200 mt-4">Página Não Encontrada</p>
    <p class="text-gray-400 mt-2">
      Oops! Parece que o link que você seguiu está quebrado ou a página foi removida.
    </p>
    <a href="/" class="mt-8 bg-emerald-500 text-white font-bold py-2 px-6 rounded-lg hover:bg-emerald-600 transition-colors">
      Voltar ao Início
    </a>
  </main>
</Layout>