---
import Layout from '../layouts/Layout.astro';
import CardPartido from '../components/CardPartido.astro';
import partidos from '../data/partidos.json';
import timestamp from '../../last-update.json';

const partidosSerieA = partidos.filter(p => p.campeonato === "Brasileirão Série A");
const partidosSerieB = partidos.filter(p => p.campeonato.includes("Brasileirão Série B"));
---
<Layout title="Red Vinotinto | Tabla y resultados del Futve y la Vinotinto" description="La guía del Futve y la Vinotinto. Resultados, estadísticas y dónde ver los partidos en vivo.">
    <main class="container mx-auto p-4 max-w-2xl">
        
        <div class="text-center text-xs text-gray-500 my-8 flex items-center justify-center gap-1">
            <i class="fa-regular fa-clock"></i>
            <span>{timestamp.last_update}</span>
        </div>

        {partidos.length === 0 ? (
            <div class="text-center bg-gray-800/50 rounded-lg p-10">
                <p class="text-xl text-gray-300">Ningun partido programado para hoy.</p>
                <p class="text-gray-400 mt-2">Por favor, vuelve más tarde.</p>
            </div>
        ) : (
            <div class="space-y-12">
                {partidosSerieA.length > 0 && (
                    <section>
                        <h2 class="text-xl font-bold mb-4 text-center text-gray-300">Brasileirão Série A</h2>
                        <div class="bg-gray-800/50 rounded-lg p-2 md:p-4">
                            {partidosSerieA.map(partido => <CardPartido {...partido} />)}
                        </div>
                    </section>
                )}

                {partidosSerieB.length > 0 && (
                    <section>
                        <h2 class="text-xl font-bold mb-4 text-center text-gray-300">Brasileirão Série B</h2>
                        <div class="bg-gray-800/50 rounded-lg p-2 md:p-4">
                            {partidosSerieB.map(partido => <CardPartido {...partido} />)}
                        </div>
                    </section>
                )}
            </div>
        )}
    </main>
</Layout>